
@font-face {
    font-family: 'orbitronblack';
    src: font_url('orbitron-black-webfont.woff2') format('woff2'),
        font_url('orbitron-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'orbitronbold';
    src: font_url('orbitron-bold-webfont.woff2') format('woff2'),
        font_url('orbitron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'orbitronlight';
    src: font_url('orbitron-light-webfont.woff2') format('woff2'),
         font_url('orbitron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}